/* Общие стили */

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
  
  /* Заголовок */
  
  .randomheader {
    background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 56%,rgba(143,2,34,1) 56%);
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  /* Рандомайзер */
  
  
  
  .randomizer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .randombutton {
    position: absolute;
    left: 620px;
    top: 162px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Arial Black", sans-serif;
    margin-top: 60px;
  }
  


  
  .randres {
    width: 34px;
    height: 24px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 23px;
    top: 9px;
  }

  .randrestwo{
    width: 34px;
    height: 24px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 427px;
    top: 219px;
    background-color: transparent;
    position: fixed;
  }

  .randcont{
    position: relative;
  }

  .hinktext{
    font-size: 20px;
  }

  
  /* Таблица */
  .tablecont{
    display: flex;
  }
  
  .myTable {
    align-self: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  .myTable th, .myTable td {
    text-align: center;
  }
  
  
  .myTable th, .myTable td {
    border: 1px solid #000000;
    padding: 0.5rem;
  }
  
  .column-title {
    width: 20%;
  }
  
  /* Грузинские элементы */
  
.geoimg{
    width: 200px;
    height: 200px;
    position: absolute;
}
.gruzin{
    width: 135px;
    height: 135px;
}
.hinkali{
    width: 99px;
    height: 90px;
    left: 335px;
}
.hinkalicont{
    width: 100px;
    height: 100px;
    align-self: center;
}

  
  .georgian-text {
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Arial Black", sans-serif;
    width: 100%;
  }
  
  .georgian-text span {
    font-size: 1.2rem;
  }

  .hider{
    flex-direction: column;
  }
  
  .victory{
    display: none;
    align-self: center;
    font-size: 70px;
    background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 56%,rgba(143,2,34,1) 56%);
    width: 900px;
    color: white;
    font-family: "Arial Black", sans-serif;
    text-align: center;
    border-radius: 30px;
  }

.leftcont{
    display: flex;
    flex-direction: column;
    position: relative;
}
.rightcont{
    display: flex;
    flex-direction: column;
    position: relative;
}

.continue{
  font-size: 40px;
  font-family: "Arial Black", sans-serif;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  background: #000000;
  color: white;
}

.continue:hover{
  background: white;
  color: black;
}
.continue:active{
  font-size: 30px;
}

.fplace{
  margin-top: 80px;
  display: none;
  font-family: "Arial Black", sans-serif;
  width: 100%;
  text-align: center;
  flex-direction: column;
  gap: 70px;
}

.fplacetext{
  align-self: center;
}


.splacetext{
  align-self: center;
}
.tplacetext{
  align-self: center;
}

.winneremblemcont{
  background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 56%,rgba(143,2,34,1) 56%);
  display: none;
  width: 100%;
}

.winneremblem{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.dualcont{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dualsense{
  width: 118px;
}
.kasar{
  width: 187px;
}
.dvakasara{
  width: 187px;
}